<router-outlet></router-outlet>

<footer class="page-footer font-small blue pt-4 topfooter">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-md-left">Sm Analytic</h5>

        <ul class="list-unstyled">
          <li class="address">
            70 The Pond Rd
          </li>
          <li class="address">
            North York, ON M3J 3M6
          </li>
          <li class="address">
            Email: <u><a href="mailto:smanalyticjmv@gmail.com">smanalyticjmv@gmail.com</a></u>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-md-left">Credits</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://www.freepik.com">Designed by pikisuperstar / Freepik</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 endfooter">
    <a href="http://www.senecacollege.ca/home.html">2019 Seneca College - SenecaCollege.ca</a>
  </div>
</footer>
