
<div class="landing">

  <app-navbar></app-navbar>

  <div class="container-fluid content">
    <div class="row ">
      <img src="../../../assets/img/landing picture.png" class="image" alt="image">
    </div>
    <div class="row description">

      <div class="col-sm info">
        <div class="row">
          <h5>Social Engagement Analysis</h5>
          <h6>
            Helps you keeping track of your follower's comments and engagement throughout your makerting campaings. Also, see what are the latest trends around the world
          </h6>
        </div>
        <div class="row">
          <img class="img-features" src="../../../assets/img/tmp.jpg" alt="image">
        </div>
      </div>

      <div class="col-sm info">
        <div class="row">
          <h5>Sentiment Analysis</h5>
          <h6>
            Identify your overall customer feelings towards your products. Learn from your mentions using our sentiment analysis system and see how effective you are performing
          </h6>
        </div>
        <div class="row">
          <img class="img-features" src="../../../assets/img/tmp.jpg" alt="image">
        </div>
      </div>

      <div class="col-sm info">
        <div class="row">
          <h5>Trend Analysis</h5>
          <h6>
            Spot the latest hashtags and use it in your Marketing campaing. See how many people are talking about your product
          </h6>
        </div>
        <div class="row">
          <img class="img-features" src="../../../assets/img/tmp.jpg" alt="image">
        </div>
      </div>

    </div>
  </div>

</div>
